<%= bootstrap_form_for([:admin, @book], :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
    <label class="control-label col-md-3">Title</label> 
    <div class="col-md-9">
      <%= f.text_field :title, class: "for-control", hide_label: true, placeholder: "Title of the book", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">Isbn</label> 
    <div class="col-md-9">
      <%= f.text_field :isbn, class: "for-control", hide_label: true, placeholder: "Book ISBN"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">Pagecount</label> 
    <div class="col-md-9">
      <%= f.text_field :page_count, class: "for-control", hide_label: true, placeholder: "Number of pages"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">Price</label> 
    <div class="col-md-9">
      <%= f.text_field :price, class: "for-control", hide_label: true, placeholder: "Book unit price"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">Description</label> 
    <div class="col-md-9">
      <%= f.text_area :description, class: "for-control", hide_label: true, placeholder: "Book Description"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">PublicationDate</label> 
    <div class="col-md-9">
      <%= f.text_field :published_at, class: "for-control", hide_label: true, placeholder: "Published date"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">Publisher</label> 
    <div class="col-md-9">
      <%= f.select :publisher_id, @publishers.map { |p| [p.name, p.id] }, 
              prompt: 'Select a publisher', class: 'form-control', hide_label: true %>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-md-3">Book cover</label> 
    <div class="col-md-9">
      <%= f.file_field :book_cover, class: "for-control", hide_label: true, placeholder: "Book Cover"%>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-md-3">Authors</label> 
    <div class="col-md-9">
      <%= f.collection_check_boxes :author_ids, @authors, :id, :full_name,  
              prompt: 'Select authors', class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class="form-group actions control-group">
    <div class="col-md-offset-3">
      <%= f.submit 'Create Book' %>
    </div>
  </div>
<% end %>
